label {
  display: block;
  &:not(fieldset label) {
    margin-bottom: 16px;
    font-weight: 500;
  }
}

legend {
  font-weight: 500;
}

fieldset {
  margin-bottom: 16px;
}

form {
  text-align: start;
  margin-left: 30%;
}
